*.iml
.gradle
.idea/
.kotlin/
local.properties
signing.properties

.DS_Store
/build
/captures
.externalNativeBuild
.cxx

# APK/AAB/signing
*.apk
*.aab
*.ap_
*.jks
*.keystore

# Misc
*.hprof
*.log
/app/google-services.json

# Worktrees
.worktrees/
/docs/
